*,
*:after,
*:hover {
    box-sizing: border-box;
}

body {
    font-family: basic-sans, sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 1.125em;
    background: whitesmoke;
}

.dropdown-place {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    background: transparent;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &-items {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        position: relative;
        top: 0.5rem;
        padding: 0;
        border-radius: 19px;
        background: white;
        border: 2px solid lightblue;
        z-index: 1;
    }
}

.dropdown-place-option {
    cursor: pointer;
    width: 365px;
    height: 44px;
    background: transparent;
    border: 0;
    box-sizing: border-box;
    text-align: left;
    padding: 0 1rem;
    font-size: 0.9rem;
    overflow: hidden;

    &:hover:not(#selected) {
        background: lightgray;
        border-radius: 19px;
    }
}

#selected {
    width: 370px;
    height: 49px;
    position: relative;
    background: grey;
    border: 2px solid lightblue;
    border-radius: 19px;

    &::after {
        content: '';
        position: absolute;
        top: 1rem;
        right: 1rem;

        border: 1em solid transparent;
        border-top: 1em solid white;
        border-radius: 50px;
    }

    &:hover {
        &::after {
            border-top: 1em solid lightblue;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0.7rem;
        right: 1rem;

        border: 1em solid transparent;
        border-top: 1em solid grey;
        z-index: 1;
    }
}
